/* GENERAL */

body{
    margin: 0px;
}

*{
    font-family: 'Open Sans', sans-serif;  
}

:root {
    --RS:#e6309c;
    --BC:#79e6f3;
    --BG:#393e46;
    --GR:#dddddd;
}

/* NAVBAR */

nav{
    background: black;
}

.navbar-nav{
    margin-left: auto;
}

.navHome{
    color: var(--BC);
    text-transform: uppercase;
    text-shadow: 3px 2px 1px var(--RS);
    letter-spacing: 10px;
    font-size: 23px;
}

.navHome:hover{
    color: var(--RS);
    text-shadow: 3px 2px 1px var(--BC);
}

.navLinks{
    color: var(--BC);
    text-transform: uppercase;
    text-shadow: 3px 2px 1px var(--RS);
    letter-spacing: 3px;
    font-style: italic;
    font-size: 18px;
}

.navLinks:hover{
    color: var(--RS);
    text-shadow: 3px 2px 1px var(--BC);
}

.navIcon{
    color: var(--BC);
}

.navIcon:hover{
    color: var(--RS);
}

/* HEADER */

header{
    padding: 90px 0px;
    background: black;
}

.hdTextOne{
    padding-bottom: 20px;
    font-size: 26px;
    letter-spacing: 4px;
    color: var(--BC);
    text-shadow: 3px 3px 1px var(--RS);
}

@media screen and (max-width:375px){
    .hdTextOne{
        font-size: 20px; 
        color: var(--BC);
        text-shadow: 3px 3px 1px var(--RS);
    }
}

@media screen and (max-width:330px){
    .hdTextOne{
        font-size: 16px;
        color: var(--BC);
        text-shadow: 3px 3px 1px var(--RS); 
    }
}

.newTrack{
    border: 4px solid var(--BC);
    box-shadow: 7px 6px 5px 2px var(--RS);
    padding: 50px 0px;
}

.hdTextTwo{
    padding-top: 60px;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--BC);
    text-shadow: 3px 3px 1px var(--RS);
}

@media screen and (max-width:375px){
    .hdTextTwo{
        font-size: 16px;
        color: var(--BC);
        text-shadow: 3px 3px 1px var(--RS); 
    }
}

@media screen and (max-width:330px){
    .hdTextTwo{
        font-size: 15px;
        color: var(--BC);
        text-shadow: 3px 3px 1px var(--RS); 
    }
}

@media screen and (max-width: 768px){
    .newTrack{
        padding: 5px 0px;
        border: 2px solid var(--BC);
        box-shadow: 3px 3px 3px 2px var(--RS);
    }
    .hdTextOne{
        padding-bottom: 10px;
    }
    .hdTextTwo{
        padding-top: 25px;
    }
}

@media screen and (max-width: 600px){
    .newTrack{
        padding: 5px 0px;
        border: 2px solid var(--BC);
        box-shadow: 3px 3px 3px 2px var(--RS);
    }
    .hdTextOne{
        padding-bottom: 5px;
    }
    .hdTextTwo{
        padding-top: 20px;
    }
}

/* MUSIC */

#music{
    padding: 170px 0px;
}

.musicTitle{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 8px;
    text-shadow: -3px 2px 3px var(--BC);
}

.musicText{
    color: black;
    font-weight: bold;
}

@media screen and (max-width:330px){
    .musicText{
        text-align: left;
    }
}

.iconMove{
    transition: 0.1s ease-in-out; 
}

.iconMove:hover{
    transform: scale(1.1); 
}

/* VIDEO */

#video{
    padding: 150px 0px;
    background: var(--GR);
}

.videoTitle{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 8px;
    text-shadow: 3px 2px 3px var(--RS);
}

.videoText{
    color: black;
    font-weight: bold;
}

@media screen and (max-width:992px){
    .vid-2, .vid-3, .vid-5, .vid-6{
        margin-top: 15px;
    }
}

/* ABOUT US */

#aboutPage1{
    padding: 60px 0px;
}

.aboutHdText{
    padding-top: 25px;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 4px;
    color: var(--BC);
    text-shadow: 3px 3px 1px var(--RS);
}

@media screen and (max-width:375px){
    .aboutHdText{
        font-size: 20px; 
    }
}

@media screen and (max-width:330px){
    .aboutHdText{
        font-size: 18px; 
    }
}

.aboutText{
    color: black;
    font-weight: bold;
}

.aboutOneImgRight{
    color: var(--RS);
    box-shadow: 25px -22px 0px var(--BG), 46px -40px 0px var(--BC);
}

.aboutOneImgLeft{
    color: var(--RS);
    box-shadow: -24px -20px 0px var(--BG), -42px -37px 0px var(--BC);
}

#aboutPage2{
    padding: 80px 0px;
    background: var(--GR);
}

#aboutPage3{
    padding: 40px 0px;
}

.titleAboutPage{
    padding-bottom: 80px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 8px;
    text-shadow: -3px 2px 3px var(--BC);
}

.apOneTitle{
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 3px 2px 3px var(--RS);
    text-transform: uppercase;
}

.aboutMembers{
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 3px 2px 3px var(--RS);
    text-transform: uppercase;
}

.michelImg{
    box-shadow: -28px -19px 0px var(--BG), -53px -36px 0px var(--BC);
}

.tumiImg{
    box-shadow: 25px -19px 0px var(--BG), 46px -35px 0px  var(--BC);
}

@media screen and (max-width: 600px){
    .aboutOneImgLeft, .aboutOneImgRight, .michelImg, .tumiImg{
        box-shadow: 5px -9px 0px var(--BG), 11px -16px 0px var(--BC);
    }

}

/* GALLERY */

#gallery{
    padding: 60px 0px;
    background: var(--GR);
}

.galleryHdText{
    padding-top: 25px;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 4px;
    color: var(--BC);
    text-shadow: 3px 3px 1px var(--RS);
}

@media screen and (max-width:375px){
    .galleryHdText{
        font-size: 20px; 
    }
}

@media screen and (max-width:330px){
    .galleryHdText{
        font-size: 18px; 
    }
}

.galleryTitle{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px;
    text-shadow: -3px 2px 3px var(--BC);
}

.galleryDate{
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 3px 2px 3px var(--RS);
    text-transform: uppercase;
}

.img-fluid-gallery {
    width: 340px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 4px 8px var(--BG);
    transition: 0.3s ease-in-out;
}

.img-fluid-gallery:hover{
    transform: scale(1.1); 
}

@media screen and (max-width:1200px){
    .img-fluid-gallery{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:992px){
    .img-fluid-gallery{
        width: 210px;
        height: 210px;
    }
}

@media screen and (max-width:768px){
    .img-fluid-gallery{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:425px){
    .img-fluid-gallery{
        width: 250px;
        height: 250px;
    }
}

/* CONTACT */

#contact{
    padding: 160px 0px;
    background: black;
    border-top: thick double var(--RS);
    border-bottom: thick double var(--RS);
}

.hdContact{
    font-size: 25px;
    font-style: italic;
    letter-spacing: 4px;
    color: var(--BC);
    text-shadow: 3px 3px 1px var(--RS);
}

@media screen and (max-width:375px){
    .hdContact{
        font-size: 22px; 
    }
}

@media screen and (max-width:330px){
    .hdContact{
        font-size: 20px; 
    }
}

.contactText{
    color: var(--BC);
    margin-bottom: 70px;
}

@media screen and (max-width:500px){
    .contactText{
        font-size: 16px;
        text-align: center; 
    }
}

.ctcIcon{
    color: var(--BC);
}

.ctcIcon:hover{
    color: var(--RS);
}

.ftContact{
    padding: 50px 0px;
    color: var(--BC);
    text-align: center;
}

/* FOOTER */

footer{
    padding: 30px 0px;
    background: black;
}

.ftPart2{
    padding-top: 15px;
}

.ftPart{
    color: var(--BC);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.ftSN{
    color: var(--BC);
}

.ftSN:hover{
    color: var(--RS);
}
@media screen and (max-width:425px){
    .ftPart2{
        margin-top: 20px;
    }
}